<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ordi.salutation">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcer"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcer"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings"
            android:label="Settings"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.ordi.salutation.MainActivity" />
        </activity>
    </application>

</manifest>